<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title '' %}</title>

    <link href="{{ app.request.basepath }}/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">

    <link href="//cdn.jsdelivr.net/fontawesome/4.1.0/css/font-awesome.css" rel="stylesheet" type="text/css">

    <link href="{{ app.request.basepath }}/vendor/angular/angular-csp.css" rel="stylesheet" type="text/css">
    <link href="{{ app.request.basepath }}/vendor/angular-motion/dist/angular-motion.css" rel="stylesheet" type="text/css">
    <link href="{{ app.request.basepath }}/css/jumbotron-narrow.css" rel="stylesheet" type="text/css">
    <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="app">
    <div class="container" ng-controller="AppCtrl">

      {% block content %}{% endblock %}

      <div class="footer">
        <p>&copy; 38pages 2014</p>
      </div>

    </div>

    <script src="{{ app.request.basepath }}/vendor/jquery/dist/jquery.js"></script>
    <script src="{{ app.request.basepath }}/vendor/angular/angular.js"></script>
    <script src="{{ app.request.basepath }}/vendor/angular-animate/angular-animate.js"></script>
    <script src="{{ app.request.basepath }}/vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="{{ app.request.basepath }}/vendor/lodash/dist/lodash.js"></script>

    <script src="{{ app.request.basepath }}/vendor/angular-strap/dist/angular-strap.js"></script>
    <script src="{{ app.request.basepath }}/vendor/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="{{ app.request.basepath }}/vendor/ngstorage/ngstorage.js"></script>
    <script src="{{ app.request.basepath }}/vendor/restangular/dist/restangular.js"></script>

    <script src="{{ app.request.basepath }}/js/app.js"></script>
    <script src="{{ app.request.basepath }}/js/controllers.js"></script>
    <script src="{{ app.request.basepath }}/js/services.js"></script>

  </body>
</html>
